<h1 class="library">Quote Library</h1>
<br />
<br />

<h2><% @quote.each do |quote| %>
  <div class="quote-box">
    <h1 class="saying"><%= quote.saying %></h1>
    <h2 class="author">- <%= quote.author %></h2>
    <h3 class="book"> <%= quote.book %></h3>
  </div>

  <br />
<% end %>