@import "bootstrap";

.clear {
  clear: both;
}

.circle {
  font-weight: bold;
  position: relative;
  border-radius: 100%;
  background: #9ce6e2;
  border: 1px solid #F7F7F7;
  width: 100px;
  height: 100px;
  margin: 10px 10px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  line-height: 16px;
  cursor: pointer;
}


.slogan {
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  font-style: italic;
  padding-top: 26px;
  font-size: 40px;
  text-align: center;
  color: #9ce6e2;
}

.links {
  text-align: right;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  font-size: 20px;
  padding-top: 38px;
}

.logo:hover {
  text-decoration: none;
}

header {
  border-top: 9px solid #92e0b9;
}

hr {
  clear:both;
}

h1 {
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  font-weight: 400;
  letter-spacing: -1.5px;
  font-style: italic;
  text-align: center;
  font-size: 48px;
}

h2 {
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  font-weight: 150;
  letter-spacing: -1.5px;
  text-align: center;
  font-size: 30px;

}

.quote-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 3px solid #ccc;
  border-color: #92e0b9 #92e0b9 #92e0b9 #92e0b9;
  
}

.saying {
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  font-size: 32px;
  font-weight: 400;
}

.author {
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  font-size: 22px;
  font-weight: 400;
}

.book {
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.library {
  color: #9ce6e2;
}